src/backend/baavend/node-red-flows/flows-mqtt-logging.json
[
    {
        "id": "c49ca540c92aa535",
        "type": "tab",
        "label": "mqtt-logging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88ae5a3e6d231685",
        "type": "mqtt in",
        "z": "c49ca540c92aa535",
        "name": "",
        "topic": "$SYS/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6bb176ae02eba776",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c2fc8856cfaa0efc",
                "6d8b2925746e4caa"
            ]
        ]
    },
    {
        "id": "c2fc8856cfaa0efc",
        "type": "debug",
        "z": "c49ca540c92aa535",
        "name": "Debug MQTT msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d8b2925746e4caa",
        "type": "function",
        "z": "c49ca540c92aa535",
        "name": "Data Formatting",
        "func": "var topic = msg.topic;\nvar value = msg.payload;\nvar value_topic = topic.substring(5).replaceAll(\"/\", \"_\");\n\nswitch (topic) {\n\tcase \"$SYS/broker/uptime\":\n\t\tmsg.payload = [\n\t\t\t{\n\t\t\t\tbroker_uptime: +(value.slice(0, -8)), // remove \" seconds\"\n\t\t\t\ttime: new Date()\n\t\t\t},\n\t\t\t{\n\t\t\t\ttopic: topic\n\t\t\t}\n\t\t];\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = [\n\t\t\t{\n\t\t\t\t[value_topic]: value,\n\t\t\t\ttime: new Date()\n\t\t\t},\n\t\t\t{\n\t\t\t\ttopic: topic\n\t\t\t}\n\t\t];\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "b2f963cb2e58fab4",
                "d1e1a67d1f92a9b3"
            ]
        ]
    },
    {
        "id": "f96ff8ca4b68c5b6",
        "type": "debug",
        "z": "c49ca540c92aa535",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "8ea026f529ab5ed1",
        "type": "join",
        "z": "c49ca540c92aa535",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "38",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "f96ff8ca4b68c5b6"
            ]
        ]
    },
    {
        "id": "4aee54704ea53a48",
        "type": "influxdb batch",
        "z": "c49ca540c92aa535",
        "influxdb": "f8d7a87b47e3f24c",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ap",
        "bucket": "mqtt-logging",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2f963cb2e58fab4",
        "type": "debug",
        "z": "c49ca540c92aa535",
        "name": "Debug msg.payload.0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.0",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "aee0c123fa1e3de2",
        "type": "function",
        "z": "c49ca540c92aa535",
        "name": "function 1",
        "func": "var tmp = msg;\nif (tmp.topic == \"$SYS/broker/uptime\")\n{\n    msg.payload = +(tmp.payload.slice(0, -8));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 340,
        "wires": [
            [
                "8ea026f529ab5ed1"
            ]
        ]
    },
    {
        "id": "d1e1a67d1f92a9b3",
        "type": "influxdb out",
        "z": "c49ca540c92aa535",
        "influxdb": "f8d7a87b47e3f24c",
        "name": "",
        "measurement": "log",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ap",
        "bucket": "mqtt-logging",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac4d6e45b0044daf",
        "type": "comment",
        "z": "c49ca540c92aa535",
        "name": "Step 1. MQTT msg",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "ab50765e930df2c2",
        "type": "comment",
        "z": "c49ca540c92aa535",
        "name": "Step 2. Data Formatting + Push to database",
        "info": "",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "2904bfefe6e4a7ee",
        "type": "comment",
        "z": "c49ca540c92aa535",
        "name": "Testing",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "6bb176ae02eba776",
        "type": "mqtt-broker",
        "name": "baavend-mqtt",
        "broker": "baavend-mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f8d7a87b47e3f24c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "baavend-db",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "http://influx:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]