src/backend/baavend/node-red-flows/flows-ttn-flwsb.json
[{"id":"9727c038192957b1","type":"tab","label":"ttn-flwsb","disabled":false,"info":"","env":[]},{"id":"369ec68f45aa0285","type":"mqtt in","z":"9727c038192957b1","name":"","topic":"v3/flwsb@ttn/devices/eui-0004a30b0020da72/up","qos":"2","datatype":"json","broker":"c589162d2aafde08","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":80,"wires":[["37ad4db926520507","7a5515aac94d63c6"]]},{"id":"37ad4db926520507","type":"debug","z":"9727c038192957b1","name":"Debug TTN msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":80,"wires":[]},{"id":"7a5515aac94d63c6","type":"function","z":"9727c038192957b1","name":"Data Formatting","func":"let id = msg.payload.end_device_ids.device_id;\n//var location = msg.payload.locations.frm_payload;\nlet timestamp = new Date(msg.payload.received_at);  // timestamp TTN\n\nfunction base64ToArrayBuffer(value) {\n\tvar load = value.replace(/\\s+/g, '');  // remove any whitespace\n\tvalue = Buffer.from(load, 'base64');\n\treturn value;\n}\n\nlet bitstream = base64ToArrayBuffer(msg.payload.uplink_message.frm_payload);\nnode.warn(bitstream);\n\nmsg.payload = [\n\t[{\n\t\ttemp: +(((((bitstream[1] << 8) + bitstream[2])/100)-40).toFixed(2)),\n\t\tpressure: ((bitstream[3] << 8) + bitstream[4]),\n\t\thumidity: bitstream[5],\n\t\ttime: timestamp\n\t},\n\t{\n\t\tboard_id: id,  // device-id TTN en SIS\n\t\tsensor: \"BME280\"\n\t}],\n\n\t[{\n\t\t//latitude: location.latitude,  // TTN device location latitude\n\t\t//longitude: location.longitude,  // TTN device location longitude\n\t\tconsumed_airtime: +(msg.payload.uplink_message.consumed_airtime.slice(0, -1)), // remove \"s\" and convert to number\n\t\ttime: timestamp\n\t},\n\t{\n\t\tboard_id: id  // device-id TTN en SIS\n\t}]\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":200,"wires":[["b86504729b55bd04","01d3ae8df075f3a4"]]},{"id":"b86504729b55bd04","type":"influxdb out","z":"9727c038192957b1","influxdb":"f8d7a87b47e3f24c","name":"InfluxDb: baavend-db, org: ap, bucket: flwsb, measurement: climate_data","measurement":"climate_data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"flwsb","x":520,"y":200,"wires":[]},{"id":"01d3ae8df075f3a4","type":"debug","z":"9727c038192957b1","name":"Debug InfluxDb push","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.0.0","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":240,"wires":[]},{"id":"e43a83af44b2ab6c","type":"inject","z":"9727c038192957b1","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["8ada2a42c4a9aa9d"]]},{"id":"8ada2a42c4a9aa9d","type":"function","z":"9727c038192957b1","name":"Fields and Tags example","func":"msg.payload = [{\n    intValue: '10i',\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"board1\",\n    tag2:\"bme280\"\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["a720c5b96d54ae7a"]]},{"id":"45c14ac54bef40dd","type":"influxdb batch","z":"9727c038192957b1","influxdb":"f8d7a87b47e3f24c","precision":"","retentionPolicy":"","name":"baavend-time-db, org: ap, bucket: test-bacth","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"test","x":670,"y":500,"wires":[]},{"id":"a74671afcc687cc3","type":"inject","z":"9727c038192957b1","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["effedde68a221325"]]},{"id":"effedde68a221325","type":"function","z":"9727c038192957b1","name":"Batch example","func":"msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags: {\n            location: \"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags: {\n            location: \"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["45c14ac54bef40dd"]]},{"id":"a720c5b96d54ae7a","type":"influxdb out","z":"9727c038192957b1","influxdb":"f8d7a87b47e3f24c","name":"baavend-time-db, org: ap, bucket: test","measurement":"test","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"test","x":650,"y":440,"wires":[]},{"id":"184aa7da251f172e","type":"comment","z":"9727c038192957b1","name":"Step 1. TTN MQTT msg","info":"","x":140,"y":40,"wires":[]},{"id":"2c0c1f4a4751d267","type":"comment","z":"9727c038192957b1","name":"Step 2. Data Formatting + Push to database","info":"","x":210,"y":160,"wires":[]},{"id":"8ec56f0b7d272e0e","type":"comment","z":"9727c038192957b1","name":"Testing","info":"","x":90,"y":400,"wires":[]},{"id":"c589162d2aafde08","type":"mqtt-broker","name":"FLWSB","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f8d7a87b47e3f24c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"baavend-db","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://167.71.75.179:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]