src/backend/node-red-flows/flows-all-active-together.json
[{"id":"b227e0fee3f5b4d0","type":"tab","label":"weather-station-sis","disabled":false,"info":"","env":[]},{"id":"444481b2f8b4208a","type":"mqtt in","z":"b227e0fee3f5b4d0","name":"baavend-mqtt, topic: weatherStation","topic":"weatherStation","qos":"0","datatype":"json","broker":"6bb176ae02eba776","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":80,"wires":[["1aa38e0ae89987cf","804c0682b9eb29e2"]]},{"id":"1aa38e0ae89987cf","type":"debug","z":"b227e0fee3f5b4d0","name":"Debuq MQTT msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]},{"id":"9c9dcd373144581e","type":"function","z":"b227e0fee3f5b4d0","name":"Data Formatting","func":"let mqtt = msg.payload[0];\nlet sis = msg.payload[1];\n\nlet source_id = (sis.find(obj => obj.id == mqtt.id))[\"_value\"];\n\nmsg.payload = [\n\t{\n\t\ttemp: mqtt.temperature_C,          // buiten temperatuur, °C, float\n\t\thumidity: mqtt.humidity,           // buiten luchtvochtigheid, %, int\n\t\twind_speed: mqtt.wind_avg_m_s,     // windsnelheid, m/s, float\n\t\twind_gust: mqtt.wind_max_m_s,      // windsnelheid, m/s, float\n\t\twind_direction: mqtt.wind_dir_deg, // windrichting, hoek in graden °, int\n\t\train: mqtt.rain_mm,                // neerslag, mm/10min, float\n\t\ttime: new Date(mqtt.time)\t\t  // timestamp, YYYY-MM-DD hh:mm:ss\n\t},\n\t{\n\t\tsource: source_id\n\t}];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["f39da89dc495cbd7","70a20184c3e8dcce"]]},{"id":"f39da89dc495cbd7","type":"debug","z":"b227e0fee3f5b4d0","name":"Debug InfluxDb push","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":460,"wires":[]},{"id":"70a20184c3e8dcce","type":"influxdb out","z":"b227e0fee3f5b4d0","influxdb":"f8d7a87b47e3f24c","name":"","measurement":"weather_station","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"flwsb","x":640,"y":420,"wires":[]},{"id":"7d776f0ca267b117","type":"influxdb in","z":"b227e0fee3f5b4d0","influxdb":"f8d7a87b47e3f24c","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"ap","x":420,"y":240,"wires":[["86aa701fd2bfa92f","d1c855beceadb3b7"]]},{"id":"530341daaed9075a","type":"function","z":"b227e0fee3f5b4d0","name":"InfluxDb Query","func":"msg.query = `from(bucket: \"sis\")\n  |> range(start: -100y, stop: now()) \n  |> filter(fn: (r) => r[\"_measurement\"] == \"weather-station\") \n  |> filter(fn: (r) => r[\"_field\"] == \"name\")\n  |> aggregateWindow(every: 1y, fn: last, createEmpty: false)\n  |> yield(name: \"last\")`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":240,"wires":[["7d776f0ca267b117"]]},{"id":"86aa701fd2bfa92f","type":"debug","z":"b227e0fee3f5b4d0","name":"Debug InfluxDb Query result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"d3d6e247cfe87b75","type":"inject","z":"b227e0fee3f5b4d0","name":"Test Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":300,"wires":[["530341daaed9075a"]]},{"id":"1ffb9ad0cb529c59","type":"join","z":"b227e0fee3f5b4d0","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":190,"y":420,"wires":[["166339e2edd04e46","9c9dcd373144581e"]]},{"id":"166339e2edd04e46","type":"debug","z":"b227e0fee3f5b4d0","name":"Debug Join result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":460,"wires":[]},{"id":"804c0682b9eb29e2","type":"link out","z":"b227e0fee3f5b4d0","name":"[weather-station-sis] MQTT msg out","mode":"link","links":["7be21cbd46c881bc","5cbd5916c1774538"],"x":395,"y":80,"wires":[]},{"id":"5cbd5916c1774538","type":"link in","z":"b227e0fee3f5b4d0","name":"[weather-station-sis] MQTT msg in Query","links":["804c0682b9eb29e2"],"x":75,"y":240,"wires":[["530341daaed9075a"]]},{"id":"7be21cbd46c881bc","type":"link in","z":"b227e0fee3f5b4d0","name":"[weather-station-sis] MQTT msg in Join","links":["804c0682b9eb29e2"],"x":75,"y":420,"wires":[["1ffb9ad0cb529c59"]]},{"id":"d1c855beceadb3b7","type":"link out","z":"b227e0fee3f5b4d0","name":"[weather-station-sis] Query msg out","mode":"link","links":["e1ff895f8cd08df1"],"x":575,"y":240,"wires":[]},{"id":"e1ff895f8cd08df1","type":"link in","z":"b227e0fee3f5b4d0","name":"[weather-station-sis] Query msg in","links":["d1c855beceadb3b7"],"x":75,"y":460,"wires":[["1ffb9ad0cb529c59"]]},{"id":"d058d7ddb4e206a9","type":"comment","z":"b227e0fee3f5b4d0","name":"Improvements","info":"Gather MQTT msg's over a certain time range.\nCalculate median, or just keep the last values.\nOnly push once every couple of minutes.\nFixes undefined values.","x":110,"y":660,"wires":[]},{"id":"0a0714ec288757d0","type":"comment","z":"b227e0fee3f5b4d0","name":"Step 1. MQTT msg","info":"","x":130,"y":40,"wires":[]},{"id":"d46ec1b7759f5b5b","type":"comment","z":"b227e0fee3f5b4d0","name":"Step 2. Query SIS from database","info":"","x":170,"y":200,"wires":[]},{"id":"087d40ae4e5dcac1","type":"comment","z":"b227e0fee3f5b4d0","name":"Step 3. Join MQTT and Query result msg's + Data Formatting + Push to database","info":"","x":320,"y":380,"wires":[]},{"id":"8a1ef9f4c4972c91","type":"tab","label":"weather-station","disabled":true,"info":"","env":[]},{"id":"b8c112fa333ccf1b","type":"mqtt in","z":"8a1ef9f4c4972c91","name":"baavend-mqtt, topic: weatherStation","topic":"weatherStation","qos":"0","datatype":"json","broker":"6bb176ae02eba776","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":60,"wires":[["0c3fd051bcf5df86","7d4693a12b647da6"]]},{"id":"0c3fd051bcf5df86","type":"debug","z":"8a1ef9f4c4972c91","name":"Debuq MQTT msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"7d4693a12b647da6","type":"function","z":"8a1ef9f4c4972c91","name":"Data Formatting","func":"var tmp = msg.payload;\n\nvar source_id = \"\";\nswitch (tmp.id) {\n\tcase 1920111513:\n\t\tsource_id = \"weather-station-1\"\n\t\tbreak;\n\tcase -1646443428:\n\t\tsource_id = \"weather-station-2\"\n\t\tbreak;\n\tdefault:\n\t\tsource_id = \"unknown\"\n}\n\nmsg.payload = [\n\t{\n\t\ttemp: tmp.temperature_C,          // buiten temperatuur, °C, float\n\t\thumidity: tmp.humidity,           // buiten luchtvochtigheid, %, int\n\t\twind_speed: tmp.wind_avg_m_s,     // windsnelheid, m/s, float\n\t\twind_gust: tmp.wind_max_m_s,      // windsnelheid, m/s, float\n\t\twind_direction: tmp.wind_dir_deg, // windrichting, hoek in graden °, int\n\t\train: tmp.rain_mm,                // neerslag, mm/10min, float\n\t\ttime: new Date(tmp.time)\t\t  // timestamp, YYYY-MM-DD hh:mm:ss\n\t},\n\t{\n\t\tsource: source_id\n\t}];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":60,"wires":[["bfc4860172aae5e5","837e8040d6f5cfa7"]]},{"id":"bfc4860172aae5e5","type":"debug","z":"8a1ef9f4c4972c91","name":"Debug InfluxDb push","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"380bf992f5fc3a9d","type":"mqtt out","z":"8a1ef9f4c4972c91","name":"","topic":"weatherStation","qos":"0","retain":"false","respTopic":"","contentType":"application/json","userProps":"","correl":"","expiry":"","broker":"6bb176ae02eba776","x":520,"y":380,"wires":[]},{"id":"0f557c6c75082fd7","type":"inject","z":"8a1ef9f4c4972c91","name":"test data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"time\": \"2022-12-16 14:38:01\",   \"time\": \"2022-12-16 14:38:13\",   \"model\": \"Bresser-6in1\",   \"id\": 102004230,   \"channel\": 0,   \"battery_ok\": 1,   \"temperature_C\": 22.9,   \"humidity\": 21,   \"sensor_type\": 1,   \"wind_max_m_s\": 0,   \"wind_avg_m_s\": 0,   \"wind_dir_deg\": 248,   \"rain_mm\": 15.6,   \"mic\": \"CRC\" }","payloadType":"json","x":100,"y":380,"wires":[["380bf992f5fc3a9d","8dbb247940176f25"]]},{"id":"8dbb247940176f25","type":"debug","z":"8a1ef9f4c4972c91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"837e8040d6f5cfa7","type":"influxdb out","z":"8a1ef9f4c4972c91","influxdb":"f8d7a87b47e3f24c","name":"","measurement":"weather_station","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"flwsb","x":780,"y":60,"wires":[]},{"id":"da5628c4bb5572e5","type":"function","z":"8a1ef9f4c4972c91","name":"","func":"function getRandomFloat(min, max, decimals) {\n    return parseFloat((Math.random() * (max - min) + min).toFixed(decimals));\n}\nfunction getRandomInt(min, max){\n    return Math.floor(Math.random() * max) + min;\n}\nfunction getRandomDate(startDate, endDate) {\n    const minValue = startDate.getTime();\n    const maxValue = endDate.getTime();\n    const timestamp = Math.floor(Math.random() * (maxValue - minValue + 1) + minValue);\n    return new Date(timestamp);\n}\n\n// var tmp = msg.payload\nmsg.payload = [\n    {\n        temp: getRandomFloat(-40, 60, 1),        // buiten temperatuur, °C, float\n        humidity: getRandomInt(1, 99),           // buiten luchtvochtigheid, %, int\n        wind_speed: getRandomFloat(0, 50),       // windsnelheid, m/s, float\n        wind_gust: getRandomFloat(0, 50),        // windsnelheid, m/s, float\n        wind_direction: getRandomInt(0, 360),    // windrichting, hoek in graden °, int\n        rain: getRandomFloat(0, 100),            // neerslag, mm/10min, float\n        time: getRandomDate(new Date(2022, 0, 1), new Date(2022, 11, 31)) // timestamp, YYYY-MM-DD hh:mm:ss\n        // time: new Date(2022, 1, 1, 1, 1, 1, 100)\n    },\n    {\n        source: \"weather-station-6\"\n    }];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":560,"wires":[["328cd8af2afede47"]]},{"id":"239f4525dc6fd0f2","type":"inject","z":"8a1ef9f4c4972c91","name":"push to db","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":560,"wires":[["da5628c4bb5572e5"]]},{"id":"328cd8af2afede47","type":"influxdb out","z":"8a1ef9f4c4972c91","influxdb":"f8d7a87b47e3f24c","name":"","measurement":"weather_station","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"flwsb","x":580,"y":560,"wires":[]},{"id":"c49ca540c92aa535","type":"tab","label":"mqtt-logging","disabled":false,"info":"","env":[]},{"id":"88ae5a3e6d231685","type":"mqtt in","z":"c49ca540c92aa535","name":"","topic":"$SYS/#","qos":"0","datatype":"auto-detect","broker":"6bb176ae02eba776","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":80,"wires":[["c2fc8856cfaa0efc","6d8b2925746e4caa"]]},{"id":"c2fc8856cfaa0efc","type":"debug","z":"c49ca540c92aa535","name":"Debug MQTT msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"6d8b2925746e4caa","type":"function","z":"c49ca540c92aa535","name":"Data Formatting","func":"var topic = msg.topic;\nvar value = msg.payload;\nvar value_topic = topic.substring(5).replaceAll(\"/\", \"_\");\n\nswitch (topic) {\n\tcase \"$SYS/broker/uptime\":\n\t\tmsg.payload = [\n\t\t\t{\n\t\t\t\tbroker_uptime: +(value.slice(0, -8)), // remove \" seconds\"\n\t\t\t\ttime: new Date()\n\t\t\t},\n\t\t\t{\n\t\t\t\ttopic: topic\n\t\t\t}\n\t\t];\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = [\n\t\t\t{\n\t\t\t\t[value_topic]: value,\n\t\t\t\ttime: new Date()\n\t\t\t},\n\t\t\t{\n\t\t\t\ttopic: topic\n\t\t\t}\n\t\t];\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["b2f963cb2e58fab4","d1e1a67d1f92a9b3"]]},{"id":"f96ff8ca4b68c5b6","type":"debug","z":"c49ca540c92aa535","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":400,"wires":[]},{"id":"8ea026f529ab5ed1","type":"join","z":"c49ca540c92aa535","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"38","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":340,"wires":[["f96ff8ca4b68c5b6"]]},{"id":"4aee54704ea53a48","type":"influxdb batch","z":"c49ca540c92aa535","influxdb":"f8d7a87b47e3f24c","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"mqtt-logging","x":440,"y":340,"wires":[]},{"id":"b2f963cb2e58fab4","type":"debug","z":"c49ca540c92aa535","name":"Debug msg.payload.0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.0","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":120,"wires":[]},{"id":"aee0c123fa1e3de2","type":"function","z":"c49ca540c92aa535","name":"function 1","func":"var tmp = msg;\nif (tmp.topic == \"$SYS/broker/uptime\")\n{\n    msg.payload = +(tmp.payload.slice(0, -8));\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":340,"wires":[["8ea026f529ab5ed1"]]},{"id":"d1e1a67d1f92a9b3","type":"influxdb out","z":"c49ca540c92aa535","influxdb":"f8d7a87b47e3f24c","name":"","measurement":"log","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ap","bucket":"mqtt-logging","x":640,"y":80,"wires":[]},{"id":"ac4d6e45b0044daf","type":"comment","z":"c49ca540c92aa535","name":"Step 1. MQTT msg","info":"","x":130,"y":40,"wires":[]},{"id":"ab50765e930df2c2","type":"comment","z":"c49ca540c92aa535","name":"Step 2. Data Formatting + Push to database","info":"","x":450,"y":40,"wires":[]},{"id":"2904bfefe6e4a7ee","type":"comment","z":"c49ca540c92aa535","name":"Testing","info":"","x":90,"y":300,"wires":[]},{"id":"6bb176ae02eba776","type":"mqtt-broker","name":"baavend-mqtt","broker":"baavend-mqtt","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f8d7a87b47e3f24c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"baavend-db","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://167.71.75.179:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]